@import './_reset-styles.scss';

// utils
.padding {
	padding: 20px;
}

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 0 20px;
}

main {
	border: 3px solid black;
	max-width: 1020px;
	width: 100%;
	margin: 20px auto;
	display: flex;
}

header {
	background-color: #4d4d4d;
}

.header {
	color: #FFFFFF;
}

.title {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin: 0 0 15px 0;
}

.contacts {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contacts_item {
	display: flex;
	gap: 5px;
	width: max-content;
	align-items: center;
	justify-content: center;

	a {
		color: #FFFFFF;
	}

	&:hover {
		text-decoration: underline;
	}
}

.sub-header {
	background-color: #f3f3f3;
}

.education-skills {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.education,
.skills {
	h2 {
		margin: 0 0 10px 0;
	}
}

.skills_item,
.educations_item {
	display: flex;
	align-items: center;
	gap: 5px;
}

.project-type {
	margin: 20px 0 0 0;
}

.project-time {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 0 15px;

	div {
		display: flex;
		align-items: center;
		gap: 7px;
	}

}

.content {
	// background-color: #fafafa;

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 22px;
		margin: 15px 0 10px 0;
	}

	h4 {
		font-weight: 600;
		margin: 0 0 5px 0;
	}

	p {
		margin: 5px 0 0 0;
	}
}